name: doordeck_flutter_plugin
description: Flutter Plugin for the Doordeck's SDKs
version: 1.0.1+4
homepage: https://github.com/doordeck/doordeck-sdk-flutter

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.doordeck_flutter_plugin
        pluginClass: DoordeckFlutterPlugin
      ios:
        pluginClass: DoordeckFlutterPlugin
